
TD.CONTRACT_STATUS_8{
	BACKGROUND-COLOR: #CC99CC;
}


TD.CONTRACT_STATUS_2{
	BACKGROUND-COLOR: #FFFF00;
}


TD.CONTRACT_STATUS_3{
	BACKGROUND-COLOR: #CC3300;
}


TD.CONTRACT_STATUS_4{
	BACKGROUND-COLOR: #00FF99;
}


TD.CONTRACT_STATUS_9{
	BACKGROUND-COLOR: #FFFFFF;
}


TD.CONTRACT_STATUS_{
	BACKGROUND-COLOR: #E2EEFC;
}

TD.CONTRACT_STATUS_7{
	BACKGROUND-COLOR: #999999;
}

TD.CONTRACT_STATUS_0{
	BACKGROUND-COLOR: #E2EEFC;
}

TD.CONTRACT_STATUS_10{
	BACKGROUND-COLOR: #0099FF;
}

.css {
	WORD-BREAK:BREAK-ALL;
	font-size: 12px;
}
TD.zczt{
	BACKGROUND-COLOR: #e2eefc;
}